head
  title Spirit Time
  link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  script
    include ../bower_components/angular/angular.min.js
    include ../bower_components/jquery/dist/jquery.min.js
    include ../bower_components/moment/moment.js

body
  div(class="container")
    div(class="col-md-2")
    div(class="col-md-8")
      div(class="page-header")
        a(href="https://github.com/skywang329/Spirit-Time" style="color: inherit; text-decoration: none;")
          h2 Spirit Time (v.alpha) 
            small made by skywang329
      p This is a web-app that will display the current time in the world of Black Desert Online. The "Calibration Point" represents the exact ending time of each week's server maintainence; this datetime, displayed below in UTC, is the first instance of 07:00 AM in-game time. All following times are calculated and displayed relative to this point in time. As each week's time at which regular maintainence ends is different, this "Calibration Point" requires weekly manual recalibration.
      br
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Current In-Game Time (24H)
        div(class="panel-body" ng-controller="Overview")
          div(class="col-md-12")
            center
              div(id="time")
                h1 00 : 00
              div(id="lastCalibrated")
                p "lastCalibrated here."
      div(class="page-header")
        h3 Web-App Actions
      div(class="panel panel-default")
        div(class="panel-heading")
          center
            h5 Desktop Notifications
        div(class="panel-body" ng-controller="Overview")
          br
          div(class="col-md-4")
            center
              button(type="button" class="btn btn-danger" id="notifyNight" onclick="notifyNightClick()") NIGHTTIME Start (10PM)
          div(class="col-md-4")
            center
              button(type="button" class="btn btn-danger" id="notifyDay" onclick="notifyDayClick()") DAYTIME Start (7AM)
          div(class="col-md-4")
            center
              button(type="button" class="btn btn-default") More To Come.
            br
      p Click on any of the buttons above to toggle desktop notifications for when their respective in-game times occur. RED = OFF, GREEN = ON. When notifications are turned on, it is advised to keep the browser window open (e.g. in the background) and not kept in an non-toplevel tab as this may, depending on the browser, pause the much-needed Javascript magics required to send you these notifications. 
      br
    div(class="col-md-2")

  script
    include ../js/time.js